body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(237, 237, 231);
    height: 70%;
    width: 50%;
    gap: 20px 0;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    background-color: white;
    text-align: end;
    border-radius: 3px;
    height: 100px;
    width: 400px;
    margin-bottom: 80px;
}